.container {
  width: 100%;
  max-width: fit-content;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.small {
  padding: 0.4rem 0.8rem;
  font-size: var(--font-sm);
}
