@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-200: #98f8ac;
  --color-primary-300: #62ea8d;
  --color-primary-400: #3ad57b;
  --color-primary: #06ba63; /* DEFAULT */
  --color-primary-600: #049f64;

  --color-secondary-200: #ce9efd;
  --color-secondary-300: #ae6efb;
  --color-secondary-400: #924af7;
  --color-secondary: #f08700; /* DEFAULT */
  --color-secondary-600: #4e0bd0;

  --borderRadius: 0.4rem;
  --borderRadius-sm: 0.8rem;
  --borderRadius-lg: 1.2rem;
  --borderRadius-full: 999rem;
}

html {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  @apply text-primary;
}

.animate,
a,
a:hover {
  transition: all 0.2s ease-in-out;
}
