@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-200: #ffe099;
  --color-primary-300: #ffc966;
  --color-primary-400: #ffb43f;
  --color-primary: #ff9000; /* DEFAULT */
  --color-primary-600: #db7200;

  --color-secondary-200: #ce9efd;
  --color-secondary-300: #ae6efb;
  --color-secondary-400: #924af7;
  --color-secondary: #6610f2; /* DEFAULT */
  --color-secondary-600: #4e0bd0;

  --color-gray-400: #c5cac7;
  --color-gray: #a2a7a5; /* DEFAULT */
  --color-gray-600: #768f88;
  --color-gray-700: #517870;
  --color-gray-800: #33605c;

  --borderRadius: 0.4rem;
  --borderRadius-sm: 0.8rem;
  --borderRadius-lg: 1.2rem;
  --borderRadius-full: 999rem;
}

:root {
  /* Spacing (margins, paddings) */
  --space-xxs: 0.4rem;
  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-2xl: 4rem;
  --space-3xl: 6.4rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

.page-wrapper {
  padding: 6.3rem var(--space-lg);
  min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
