@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-200: #d8bef1;
  --color-primary-300: #b293d7;
  --color-primary-400: #876aaf;
  --color-primary: #533a7b; /* DEFAULT */
  --color-primary-600: #402a69;

  --color-secondary-200: #ce9efd;
  --color-secondary-300: #ae6efb;
  --color-secondary-400: #924af7;
  --color-secondary: #f08700; /* DEFAULT */
  --color-secondary-600: #4e0bd0;

  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray: #404040; /* DEFAULT */
  --color-gray-800: #262626;
  --color-gray-900: #171717;

  --borderRadius: 0.4rem;
  --borderRadius-sm: 0.8rem;
  --borderRadius-lg: 1.2rem;
  --borderRadius-full: 999rem;

  --alert-danger: #ff4d26;
  --alert-warning: #ffe207;
  --alert-success: #02e586;
}

html {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  @apply text-primary;
}

.animate,
a,
a:hover {
  transition: all 0.2s ease-in-out;
}
