.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  flex: 1 1 auto;
  background-color: var(--background);
  padding: var(--space-lg);
  border-radius: var(--radius-md);
  max-width: 50rem;
}

.link {
  font-weight: 700;
}

.form {
  flex: 1 1 100%;
}
